.body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 80%;
  margin: auto;
  background:  #23424A ;
  min-height: 70vh;
}
.content{
  width: 50%;
  color: #ffffff;
  padding: 7rem;

/* font-style: normal; */
}

.content h1{
  font-size: 48px;
  font-family: Roboto;
  font-weight: 900;
  line-height: 56px;
}

.content p{
  font-size: 1.3125rem;
  font-weight: normal;
}

.btn{
  text-transform: uppercase;
  display: block;
  outline: none;
  background-color: #38CFD9;
  mix-blend-mode: normal;
  border-radius: 31.5px;
  font-size: 1.3125rem;
  font-weight: bold;
  padding: 1rem 2rem;
  cursor: pointer;
}

