*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

.container{
  background-color: #23424A;
  color: #FFF;
  padding: 100px 0;
}

.prince{
  width: 80%;
  margin: 0 auto;
  max-width: 1100px;
}

.princess{
  width: 60%;
}

.princess p{
    margin-bottom: 3em;
}

.button{
  text-decoration: none;
  display: inline-block;
  color: #23424A;
  background-color: #38CFD9;
  text-transform: uppercase;
  padding: .5em 2em;
  font-weight: 900;
  border-radius: 100px;
}

.row{
  display: flex;
}

.part2 h2{
   color: #87629A;
}

.col{
  width: 100%;
  text-align: center;
}

.col+.col{
  margin-left: 2rem;
}

.part2{
  padding: 3.5em 0;
}

.part3{
  padding: 3.5em 0;
  background-color: #136C72;
  color: #FFF;
}



